:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgba(255, 255, 255, 0.87);
  background-color: #212121


}

.font-outline-main-stat {
  -webkit-text-stroke: 1px #2D503B;
}
.font-outline-hive-bonus {
  -webkit-text-stroke: 1px  #7e7445
}

@tailwind base;
@tailwind components;
@tailwind utilities;